body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.header {
    background: #0056b3;
    color: white;
    text-align: center;
    padding: 16px 0;
}

.header h1 {
    margin: 0;
}

.navigasi {
    background-color: #003d80;
    padding: 8px 0;
}

.navigasi ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navigasi li {
    margin: 0 16px;
}

.navigasi a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 32px 16px;
    min-height: 520px;
}

.content {
    display: block; 
    background-color: #555;
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 5px 10px;
    border-radius: 8px;
    margin: 80px auto; 
    text-align: center;
    width: fit-content;
}


.content-bawah {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 24px;
}

.artikel, .sidebar {
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    margin-top: 68px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.artikel {
    
    flex: 2;
    min-width: 300px;
}

.sidebar {
    flex: 1;
    min-width: 200px;
}

.footer {
    background-color: #111;
    color: white;
    padding: 8px 0;
    font-size: 12px;
    text-align: center;
    text-box: bold;
}

